<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="py.com.concepto.model.entity.ParametrizacaoEdisysMapper">

	<resultMap id="resultId" type="ParametrizacaoEdisys">
		<id property="id" column="ID_PARAMETRIZACAO" javaType="Long" jdbcType="VARCHAR" />
	</resultMap>
	
	
	<resultMap id="resultSimples" type="ParametrizacaoEdisys" extends="resultId">
		<result property="codigoEmpresa" column="CD_EMPRESA" />
		<result property="codigoFormaPago" column="CD_FORMA_PAGO" />
		<result property="codigoMoeda" column="CD_MONEDA" />
		<result property="codigoCotacao" column="CD_COTACAO" />
		<result property="codigoContaContavelIva0" column="CD_CONTA_CONTAVEL_IVA_0" />
		<result property="codigoContaContavelIva5" column="CD_CONTA_CONTAVEL_IVA_5" />
		<result property="codigoContaContavelIva10" column="CD_CONTA_CONTAVEL_IVA_10" />
		<result property="codigoCentroCusto" column="CD_CENTRO_CUSTO" />
		<result property="nroComprovanteContado" column="NRO_COMPROVANTE_CONTADO" />
		<result property="nroComprovanteCredito" column="NRO_COMPROVANTE_CREDITO" />
		<result property="impuneIva" column="IMPUNE_IVA" />
		<result property="impuneIre" column="IMPUNE_IRE" />
		<result property="impuneIrpRps" column="IMPUNE_IRP_RSP" />
	</resultMap>

	<resultMap id="result" type="ParametrizacaoEdisys" extends="resultSimples" >

	</resultMap>
    

	<select id="defaultParametrizacaoEdisysId" resultMap="resultId">
		${clause}
	</select>

	<select id="findParametrizacaoEdisys" resultMap="result">
		SELECT * FROM
		CON_PARAMETRIZACAO_EDISYS WHERE ( ${condition} ) AND  ID_FILIAL = #{@sessionHandler.ID_FILIAL}
	</select>

	<select id="defaultParametrizacaoEdisys" resultMap="result">
		${clause}
	</select>




</mapper>